<ion-view view-title="Maklumat">
  <ion-content>
    <div class="list card" ng-cloak>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        {{productDetails.details[0].company}} <br />
        {{productDetails.details[0].address}} <br />
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios7-telephone"></i>
        {{productDetails.details[0].phone}}
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-paperclip"></i>
        {{productDetails.details[0].fax}}
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-paper-airplane"></i>
        {{productDetails.details[0].website}}
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{productDetails.details[0].email}}
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-pound"></i>
        {{productDetails.details[0].reference_no}}
      </a>

    </div>

        <button class="button button-balanced button-block" ng-click="appBrowser()">Semak kesahihan data</button>

    <div class="list padding">

      <div class="item item-divider">
        Products Listing
      </div>

      <div class="item" ng-repeat="list in productDetails.products" ng-if="productDetails.products.length">
        {{list.name}} <br />
        <h4>Brand : {{list.brand}}</h4>
        <span class="item-note"> Expiry {{list.expiry_date}}</span>
      </div>

      <div class="item" ng-if="!productDetails.products">
        {{productStatus}}
      </div>

    </div>
  </ion-content>
</ion-view>
